skins/wiihud/elements/WiiAccuracy.hxc
skins/wiihud/elements/WiiHealthBar.hxc
skins/wiihud/elements/WiiTimeBar.hxc
skins/wiihud/images/Bubble1.png
skins/wiihud/images/Bubble2.png
skins/wiihud/images/Bubble3.png
skins/wiihud/images/Bubble4.png
skins/wiihud/images/healthBar.png
skins/wiihud/images/healthBarBar.png
skins/wiihud/images/Shine.png
skins/wiihud/images/timer.png
skins/wiihud/skin.json
